:root {
	--back-color: #131313;
	--btn-color: #84FFB9;
	--btn-color-error: #DC6379;
	--btn-color-hover: #BEFFDA;
}

body {
	background-color: var(--back-color);
	color: white;
	font-family: "Sk-Modernist-Regular", "Inter", Sans-serif;
    overflow-y: overlay;
}

/*---------------------------|Fonts|---------------------------*/

@font-face {
	font-family: "Inter";
	src: url(../include/fonts/Inter-VariableFont.ttf);
}

@font-face {
	font-family: "Sk-Modernist-Regular";
	src: url(../include/fonts/Sk-Modernist-Regular.otf);
}
@font-face {
	font-family: "Sk-Modernist-Bold";
	src: url(../include/fonts/Sk-Modernist-Bold.otf);
}

/*---------------------------|Main-InGame|---------------------------*/

#play-main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
	#sentence-main {
		/*transform: rotate(90deg);*/
		margin: auto;
		padding: 2em;
		text-align: center;
	}
		#sentence-p {
			margin: 0;
			font-size: 30pt;
		}
	#progress-container {
		width: 100%;
	}
	#container-click {
		display: flex;
		position: absolute;
		z-index: 998;
		top: 0;
		width: 100%;
		height: 100%;
	}
		#previous-click {
			width: 35%;
			height: 100%;
			cursor: pointer;
		}
		#next-click {
			width: 65%;
			height: 100%;
			cursor: pointer;
		}

/*---------------------------|Main-Select|---------------------------*/

#select-main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
    min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
	#select-box {
		margin: auto;
		max-width: 50em;
		width: 100%;
		text-align: center;
	}
		#jeuGuy-title {
			padding: 1em 2em;
		}
			#jeuGuy-logo {
				fill: white;
			}
		#text-desc {
			font-size: 22px;
		}
		.name-entry-container {
			display: flex;
			position: relative;
			margin: 1em 5em;
			align-items: center;
		}
			.name-entry {
				flex-grow: 1;
				margin: 0 10px 0 0;
				padding: 0 10px;
				width: 60%;
				background: none;
				border: 2px solid var(--btn-color);
				border-radius: 10px;
				line-height: 50px;
				color: white;
				text-align: center;
				font-size: 20px;
			}
			.name-entry-container button {
				width: fit-content;
				line-height: 50px;
			}
		#menu-players {
			margin: 1em 5em;
			padding: 0;
		}
			#menu-players li {
				display: flex;
				position: relative;
				margin: 20px 0;
				width: 100%;
				align-items: center;
				background-color: #2E2E2E;
				border-radius: 10px;
				list-style: none;
				text-align: left;
				line-height: 50px;
			}
				.nameField {
					margin: 0 20px;
					flex-grow: 1;
					font-size: 20px;
				}
				.btn-remove {
					margin: 0 20px 0 0;
					height: 23px;
					width: 23px;
					background: none;
					padding: 0 10px;
					border: none;
					border-radius: 50%;
					color: white;
				}
				.btn-remove:hover {
					background-color: var(--btn-color-error);
					color: black;
					cursor: pointer;
				}
		#select-mode-container {
			display: flex;
			margin: 1em 5em;
		}
			.select-mode-box {
				margin: auto;
			}
				.select-mode-box input {
				}
				.select-mode-box label {
					font-size: 14pt;
				}
		#errorName {
		}
		.container-playbtn {
			margin: 1em 5em;
		}
			.playbtn {
				cursor: pointer;
				width: 100%;
				background-color: var(--btn-color);
				color: black;
				border: none;
				border-radius: 10px;
				line-height: 50px;
				font-family: "Sk-Modernist-Bold", "Inter", Sans-serif;
				font-size: 22px;
			}
				.playbtn:hover {
					background-color: var(--btn-color-hover);
				}

/*---------------------------|Progress-bar|---------------------------*/
.progress-bar {
	margin: 5px;
	background-color: #2E2E2E;
	border-radius: 50px;
}
	.progress-value {
		width: 0%;
		height: 30px;
		background-color: var(--btn-color);
		border-radius: 50px;
		transition: all .5s;
	}

/*---------------------------|Cross-button|---------------------------*/
.quitbtn {
	position: absolute;
	z-index: 999;
	top: 2em;
	right: 2em;
	width: 3em;
	height: 3em;
}
	
	.quitbtn:before, .quitbtn:after {
		position: absolute;
		top: 50%;
		left: 50%;
		content: ' ';
		height: 100%;
		width: 3px;
		background-color: var(--btn-color);
	}
	.quitbtn:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.quitbtn:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.quitbtn:hover:after, .quitbtn:hover:before {
		background-color: var(--btn-color-hover);
	}

/*---------------------------|Phone|---------------------------*/
/*#flip-phone {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 0, .5);
}
	#flip-phone img {
		margin: auto;
		height: 10%;
	}

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    #flip-phone {
         display: flex;
    }
}*/

@media (max-width: 640px) {
	.name-entry-container {
		margin: 1em;
	}

	#sentence-p {
		font-size: 24pt;
	}
}