:root {
	--back-color: #131313;
	--btn-color: #84FFB9;
	--btn-color-error: #DC6379;
	--btn-color-hover: #BEFFDA;
}

body {
	background-color: var(--back-color);
	color: white;
	font-family: "Sk-Modernist-Regular", "Inter", Sans-serif;
    overflow-y: overlay;
}

/*---------------------------|Fonts|---------------------------*/

@font-face {
	font-family: "Inter";
	src: url(../include/fonts/Inter-VariableFont.ttf);
}

@font-face {
	font-family: "Sk-Modernist-Regular";
	src: url(../include/fonts/Sk-Modernist-Regular.otf);
}
@font-face {
	font-family: "Sk-Modernist-Bold";
	src: url(../include/fonts/Sk-Modernist-Bold.otf);
}

/*---------------------------|Main-InGame|---------------------------*/

#play-main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
	#sentence-main {
		margin: auto;
		padding: 2em;
		text-align: center;
	}
		#sentence-p {
			margin: 0;
			font-size: 30pt;
		}
	#progress-container {
		width: 100%;
	}
	#container-click {
		display: flex;
		position: absolute;
		z-index: 998;
		top: 0;
		width: 100%;
		height: 100%;
	}
		#previous-click {
			width: 35%;
			height: 100%;
			cursor: pointer;
		}
		#next-click {
			width: 65%;
			height: 100%;
			cursor: pointer;
		}

/*---------------------------|Main-Select|---------------------------*/

#select-main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
    min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
	#select-box {
		margin: auto;
		max-width: 100em;
		width: 100%;
		text-align: center;
	}
		#jeuGuy-title {
			margin: auto;
			padding: 1em 2em;
			max-width: 50em;
		}
			#jeuGuy-logo {
				fill: white;
			}
		#select-box > span {
			font-size: 22px;
		}
		.name-entry-container {
			display: flex;
			position: relative;
			margin: 1em auto;
			align-items: center;
			max-width: 50em;
		}
			.name-entry {
				flex-grow: 1;
				margin: 0 10px 0 0;
				padding: 0 10px;
				width: 60%;
				max-width: 50em;
				background: none;
				border: 2px solid var(--btn-color);
				border-radius: 30px;
				line-height: 50px;
				color: white;
				text-align: center;
				font-size: 20px;
			}
			.name-entry-container button {
				min-width: max-content;
				width: fit-content;
			}
		#menu-players {
			margin: 1em auto;
			padding: 0;
			max-width: 50em;
		}
			#menu-players li {
				display: flex;
				margin: 20px 0;
				padding: 0 20px;
				width: 100%;
				align-items: center;
				background-color: #2E2E2E;
				border-radius: 30px;
				list-style: none;
				text-align: left;
				line-height: 50px;
				box-sizing: border-box;
			}
				.nameField {
					flex: 1;
					min-width: 0;
					font-size: 20px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.genderChoice {
					display: flex;
				}
				.genderChoice input {
					display: none;
				}
				.genderChoice label {
					cursor: pointer;
					display: flex;
					margin-right: 0.3em;
					width: 32px;
					height: 32px;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					font-family: monospace;
					font-size: 30px;
					box-sizing: border-box;
				}
				.genderChoice input:checked + label{
					background-color: var(--btn-color);
					color: black;
				}
				.btn-remove {
					display: flex;
					height: 32px;
					width: 32px;
					overflow: hidden;
					background: none;
					border: none;
					border-radius: 50%;
					fill: white;
				}
				.btn-remove:hover {
					background-color: var(--btn-color-error);
					fill: black;
					cursor: pointer;
				}
					.btn-remove svg {
						margin: auto;
						height: 12px;
						width: 12px;
					}
		#select-mode-container {
			margin: 1em 5em;
		}
			.select-mode-box {
				position: relative;
				margin: 3em auto;
				max-width: 36em;
			}
				.select-mode-box input {
					display: none;
				}
				.select-mode-box label {
					display: inline-block;
					padding: 1em;
					width: 100%;
					border: 2px solid var(--btn-color);
					border-radius: 30px;
					overflow: hidden;
					box-sizing: border-box;
					cursor: pointer;
					font-size: 40px;
					text-align: center;
				}
				.select-mode-box input:checked + label:after {
					content: "\2713";
					width: 50px;
					height: 50px;
					line-height: 50px;
					border-radius: 100%;
					border: 5px solid var(--btn-color);
					background-color: var(--back-color);
					z-index: 999;
					position: absolute;
					top: -20px;
					right: 0;
					left:50%;
					color: var(--btn-color);
					transform:translateX(-50%);
				}
				.select-mode-box input:checked + label {
					background-color: var(--btn-color);
					color: black;
				}
		#errorName {
			color: var(--btn-color-error);
		}
		.playbtn-container {
			margin: 1em auto 4em;
			max-width: 10em;
		}
			.bigbtn {
				cursor: pointer;
				padding: 0 1em;
				width: 100%;
				background-color: var(--btn-color);
				color: black;
				border: none;
				border-radius: 30px;
				line-height: 50px;
				font-family: "Sk-Modernist-Bold", "Inter", Sans-serif;
				font-size: 22px;
				overflow: hidden;
			}
				.bigbtn:hover {
					background-color: var(--btn-color-hover);
				}

/*---------------------------|Progress-bar|---------------------------*/
.progress-bar {
	margin: 5px;
	background-color: #2E2E2E;
	border-radius: 30px;
}
	.progress-value {
		width: 0%;
		height: 30px;
		background-color: var(--btn-color);
		border-radius: 50px;
		transition: all .5s;
	}

/*---------------------------|Cross-button|---------------------------*/
.quitbtn {
	position: absolute;
	z-index: 999;
	top: 2em;
	right: 2em;
	width: 3em;
	height: 3em;
}
	
	.quitbtn:before, .quitbtn:after {
		content: ' ';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 6px;
		height: 100%;
		background-color: var(--btn-color);
		border-radius: 30px;
	}
	.quitbtn:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.quitbtn:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.quitbtn:hover:after, .quitbtn:hover:before {
		background-color: var(--btn-color-hover);
	}

/*---------------------------|Phone|---------------------------*/
/*#flip-phone {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 0, .5);
}
	#flip-phone img {
		margin: auto;
		height: 10%;
	}

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    #flip-phone {
         display: flex;
    }
}*/

@media (max-width: 640px) {
	.name-entry-container {
		margin: 1em;
	}

	#sentence-p {
		font-size: 24pt;
	}
}

@media (max-width: 440px) {
	#menu-players {
		margin: 1em;
	}
}